USE [ERP_Hardware_DB]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 21/09/2026 17:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](100) NOT NULL,
	[telefono] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Equipos] Fecha de script: 21/09/2026 17:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[id_equipo] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[tipo_equipo] [varchar](50) NULL,
	[marca_modelo] [varchar](100) NULL,
	[numero_serie] [varchar](100) NULL,
	[caracteristicas_hardware] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ordenes_Trabajo] Fecha de script: 21/09/2026 17:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes_Trabajo](
	[id_orden] [int] IDENTITY(1,1) NOT NULL,
	[id_equipo] [int] NOT NULL,
	[id_usuario_tecnico] [int] NOT NULL,
	[fecha_ingreso] [datetime] NULL,
	[problema_reportado] [text] NOT NULL,
	[notas_especiales] [text] NULL,
	[estado_reparacion] [varchar](30) NULL,
	[fecha_entrega_estimada] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 21/09/2026 17:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_cliente], [nombre_cliente], [telefono], [email], [direccion]) VALUES (1, N'Empresa Los Andes', N'5555-1234', N'contacto@andes.com', N'Zacapa Centro')
INSERT [dbo].[Clientes] ([id_cliente], [nombre_cliente], [telefono], [email], [direccion]) VALUES (2, N'Empresa Talismán', N'1245-1457', N'contact@talisman.com', N'Zacapa Centro')
INSERT [dbo].[Clientes] ([id_cliente], [nombre_cliente], [telefono], [email], [direccion]) VALUES (3, N'Elias', N'12412551', N'Eliasjdjd@gmail.com', N'Zacapa Centro')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([id_equipo], [id_cliente], [tipo_equipo], [marca_modelo], [numero_serie], [caracteristicas_hardware]) VALUES (1, 1, N'Laptop', N'Dell Latitude 3420', N'SN-987654', N'Core i5, 8GB RAM, 256GB SSD')
INSERT [dbo].[Equipos] ([id_equipo], [id_cliente], [tipo_equipo], [marca_modelo], [numero_serie], [caracteristicas_hardware]) VALUES (2, 1, N'Laptop', N'HP 15', N'45789612', N'1tb ssd, 16 gb Ram')
INSERT [dbo].[Equipos] ([id_equipo], [id_cliente], [tipo_equipo], [marca_modelo], [numero_serie], [caracteristicas_hardware]) VALUES (3, 3, N'Laptop', N'Dell', N'484545489', N'Intel i3 256 ssd , 16gb Ram DDr4')
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordenes_Trabajo] ON 

INSERT [dbo].[Ordenes_Trabajo] ([id_orden], [id_equipo], [id_usuario_tecnico], [fecha_ingreso], [problema_reportado], [notas_especiales], [estado_reparacion], [fecha_entrega_estimada]) VALUES (1, 1, 1, CAST(N'2026-09-07T22:54:54.170' AS DateTime), N'Pantalla parpadea y no da video', NULL, N'Reparado', NULL)
INSERT [dbo].[Ordenes_Trabajo] ([id_orden], [id_equipo], [id_usuario_tecnico], [fecha_ingreso], [problema_reportado], [notas_especiales], [estado_reparacion], [fecha_entrega_estimada]) VALUES (2, 2, 1, CAST(N'2026-09-08T21:46:58.193' AS DateTime), N'Pantalla Quebrada', N'Reemplazarla por repuesto no 115', N'En Diagnóstico', NULL)
INSERT [dbo].[Ordenes_Trabajo] ([id_orden], [id_equipo], [id_usuario_tecnico], [fecha_ingreso], [problema_reportado], [notas_especiales], [estado_reparacion], [fecha_entrega_estimada]) VALUES (3, 3, 2, CAST(N'2026-09-10T13:14:07.667' AS DateTime), N'Falla en memoria Ram', N'No borrar imagenes', N'En Diagnóstico', NULL)
SET IDENTITY_INSERT [dbo].[Ordenes_Trabajo] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre_completo], [correo], [password_hash], [rol]) VALUES (1, N'Admin_sistema', N'admin@erphardware.com', N'123456', N'Administrador')
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_completo], [correo], [password_hash], [rol]) VALUES (2, N'Mauricio Castro', N'tecnico@erphardware.com', N'123456', N'Técnico')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__2A586E0B5C521133] Fecha de script: 21/09/2026 17:38:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ordenes_Trabajo] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[Ordenes_Trabajo] ADD  DEFAULT ('Recibido') FOR [estado_reparacion]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FKfc2turfh0joovyxpcp1863jmr] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FKfc2turfh0joovyxpcp1863jmr]
GO
ALTER TABLE [dbo].[Ordenes_Trabajo]  WITH CHECK ADD FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipos] ([id_equipo])
GO
ALTER TABLE [dbo].[Ordenes_Trabajo]  WITH CHECK ADD FOREIGN KEY([id_usuario_tecnico])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Ordenes_Trabajo]  WITH CHECK ADD  CONSTRAINT [FK7glwhrocdfg7khunfd41ljo7j] FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipos] ([id_equipo])
GO
ALTER TABLE [dbo].[Ordenes_Trabajo] CHECK CONSTRAINT [FK7glwhrocdfg7khunfd41ljo7j]
GO
ALTER TABLE [dbo].[Ordenes_Trabajo]  WITH CHECK ADD  CONSTRAINT [FKa4oq9mhimlpa46kvs96wx759r] FOREIGN KEY([id_usuario_tecnico])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Ordenes_Trabajo] CHECK CONSTRAINT [FKa4oq9mhimlpa46kvs96wx759r]
GO
